.dash .widget .sa_thead td {
	border-top: 0;
}

.sa_thead {
	background-color: rgb(252, 252, 252);
	text-align: left;
	color: #8F8F8F;
}

.sa_left, .sa_right {
	float: left;
	width: 50%;
}
.GAcharts {
	margin-top:20px;
}
.chart {
	width: 48%;
	float:left;
	margin:1%;
}
#view-selector-container {
	clear:both;
	padding-top:2em;
}
#view-selector-container table {
	float:left;
	width:30%;
}
p.chart-title {
	font-size:2em;
	border-bottom:0.1em #000 solid;
}
